server:
  port: 8081

spring:
  application:
    name: worker-service
  datasource:
    url: jdbc:postgresql://localhost:5432/sendnforget
    username: admin
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  rabbitmq:
    host: localhost
    port: 7673
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 2000
          multiplier: 2.0
        default-requeue-rejected: false
